@import url("https://fonts.googleapis.com/css?family=Lato");
body {
    background-color: #EEEEEE;
    color: #3C4858;
	font-family: Lato, Arial;
}

.h1 {
    font-size: 3.8em;
    line-height: 1.15em;
}

h2,
.h2 {
    font-size: 2.6em;
}

h3,
.h3 {
    font-size: 1.825em;
    line-height: 1.4em;
    margin: 20px 0 10px;
}

h4,
.h4 {
    font-size: 1.3em;
    line-height: 1.4em;
}

h5,
.h5 {
    font-size: 1.25em;
    line-height: 1.4em;
    margin-bottom: 15px;
}

h6,
.h6 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 500;
}

h2.title {
    margin-bottom: 30px;
	text-align: center !important;
}
h4.title {
	font-family: Roboto, Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
	text-align: center !important;
	color: #253082 !important;
	font-weight: 100;
}
button, input, select, textarea {
    line-height: normal !important;
}
.description,
.card-description,
.footer-big p {
    color: #999999;
	text-align: center;
}
.btn-primary1 {
    background: linear-gradient(60deg, #337ab7, #89929f);
	color: #fff;
	box-shadow: 0 14px 26px -12px rgb(46, 99, 175), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);
}
.dashbg {
	background: #FFF; 
	box-shadow: 0 12px 20px -10px rgba(8, 37, 43, 0.3), 0 4px 20px 0px rgba(254, 249, 249, 0.1), 0 7px 8px -5px rgba(255, 255, 255, 0.2);
	position: fixed;
  	top: 0;
	width: 100%;
	z-index: 100;
}
.login-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    bottom: 0px;
    color: #58666e;
    text-align: center !important;
    padding: 20px 30px;
    position: absolute;
    right: 0px;
    left: 00px;
    font-size: 13px;
}

.text-warning {
    color: #ff9800;
}

.text-primary {
    color: #25329e;
}

.text-danger {
    color: #f44336;
}

.text-success {
    color: #4caf50;
}

.text-info {
    color: #00bcd4;
}

.text-rose {
    color: #e91e63;
}

.text-gray {
    color: #999999;
}

.wrapper {
    position: relative;
    top: 0;
    height: 100vh;
}

.logout {
	padding-top: 30px;
	font-size: x-large !important;
	color: #fb3e23;
	padding-left: 10px;
}


body.inverse {
    background: #333333;
}

body.inverse,
body.inverse .form-control {
    color: #ffffff;
}

body.inverse .modal,
body.inverse .modal .form-control,
body.inverse .panel-default,
body.inverse .panel-default .form-control,
body.inverse .card,
body.inverse .card .form-control {
    background-color: initial;
    color: initial;
}

.wrapper.wrapper-full-page {
    height: auto;
    min-height: 100vh;
}

blockquote p {
    font-style: italic;
}

.life-of-material-dashboard {
    background: #FFFFFF;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

.serif-font {
    font-family: "Roboto Slab", "Times New Roman", serif;
}

.page-header {
    height: 60vh;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

a {
    color: #25329e;
}

a:hover,
a:focus {
    color: #23527c;
    text-decoration: none;
}

a.text-info:hover,
a.text-info:focus {
    color: #00a5bb;
}


legend {
    border-bottom: 0;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

*:focus {
    outline: 0;
}

a:focus,
a:active,
button:active,
button:focus,
button:hover,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"]>input[type="button"]::-moz-focus-inner {
    outline: 0 !important;
}

legend {
    margin-bottom: 20px;
    font-size: 21px;
}

output {
    padding-top: 8px;
    font-size: 14px;
    line-height: 1.42857;
}

.form-control {
    height: 36px;
    /*padding: 7px 0;*/
    font-size: 14px;
    line-height: 1.42857;
}

.img2 img {
	height: 90px;
	width: 100px;
	padding: 10px;
}

.img2 span {
	font-size: 30px;
	font-weight: 700;
	font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
}
 
hr {
	border-top: 1px solid #4f71b1;
}

.label-success {
    background-color: #81c868;
}
.label {
    font-weight: 600;
    letter-spacing: 0.05em;
    padding: .3em .6em .3em;
}

.label-warning {
    background-color: #ff644a !important;
}
.label {
    font-weight: 600;
    letter-spacing: 0.05em;
    padding: .3em .6em .3em;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="date"].form-control,
    input[type="time"].form-control,
    input[type="datetime-local"].form-control,
    input[type="month"].form-control {
        line-height: 36px;
    }
    input[type="date"].input-sm,
    .input-group-sm input[type="date"],
    input[type="time"].input-sm,
    .input-group-sm input[type="time"],
    input[type="datetime-local"].input-sm,
    .input-group-sm input[type="datetime-local"],
    input[type="month"].input-sm,
    .input-group-sm input[type="month"] {
        line-height: 24px;
    }
    input[type="date"].input-lg,
    .input-group-lg input[type="date"],
    input[type="time"].input-lg,
    .input-group-lg input[type="time"],
    input[type="datetime-local"].input-lg,
    .input-group-lg input[type="datetime-local"],
    input[type="month"].input-lg,
    .input-group-lg input[type="month"] {
        line-height: 44px;
    }
}

.radio label,
.checkbox label {
    min-height: 20px;
}

.form-control-static {
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 34px;
}

.input-sm .input-sm {
    height: 24px;
    padding: 3px 0;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 0;
}

.input-sm select.input-sm {
    height: 24px;
    line-height: 24px;
}

.input-sm textarea.input-sm,
.input-sm select[multiple].input-sm {
    height: auto;
}

.form-group-sm .form-control {
    height: 24px;
    padding: 3px 0;
    font-size: 11px;
    line-height: 1.5;
}

.form-group-sm select.form-control {
    height: 24px;
    line-height: 24px;
}

.form-group-sm textarea.form-control,
.form-group-sm select[multiple].form-control {
    height: auto;
}

.form-group-sm .form-control-static {
    height: 24px;
    min-height: 31px;
    padding: 4px 0;
    font-size: 11px;
    line-height: 1.5;
}

.input-lg .input-lg {
    height: 44px;
    padding: 9px 0;
    font-size: 18px;
    line-height: 1.33333;
    border-radius: 0;
}

.input-lg select.input-lg {
    height: 44px;
    line-height: 44px;
}

.input-lg textarea.input-lg,
.input-lg select[multiple].input-lg {
    height: auto;
}

.form-group-lg .form-control {
    height: 44px;
    padding: 9px 0;
    font-size: 18px;
    line-height: 1.33333;
}

.form-group-lg select.form-control {
    height: 44px;
    line-height: 44px;
}

.form-group-lg textarea.form-control,
.form-group-lg select[multiple].form-control {
    height: auto;
}

.form-group-lg .form-control-static {
    height: 44px;
    min-height: 38px;
    padding: 10px 0;
    font-size: 18px;
    line-height: 1.33333;
}

.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
    padding-top: 8px;
}

.form-horizontal .radio,
.form-horizontal .checkbox {
    min-height: 28px;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 8px;
    }
}

@media (min-width: 768px) {
    .form-horizontal .form-group-lg .control-label {
        padding-top: 13px;
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .form-horizontal .form-group-sm .control-label {
        padding-top: 4px;
        font-size: 11px;
    }
}

.label {
    border-radius: 2px;
}

.label,
.label.label-default {
    background-color: #FFFFFF;
}

.label.label-inverse {
    background-color: #212121;
}

.label.label-primary {
    background-color: #25329e;
}

.label.label-success {
    background-color: #4caf50;
}

.label.label-info {
    background-color: #00bcd4;
}

.label.label-warning {
    background-color: #ff9800;
}

.label.label-danger {
    background-color: #f44336;
}

.label.label-rose {
    background-color: #e91e63;
}

/*.form-control,
.form-group .form-control {
    border: 0;
    background-image: linear-gradient(#25329e, #25329e), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
}*/

.form-control::-moz-placeholder,
.form-group .form-control::-moz-placeholder {
    color: #AAAAAA;
    font-weight: 400;
}

.form-control:-ms-input-placeholder,
.form-group .form-control:-ms-input-placeholder {
    color: #AAAAAA;
    font-weight: 400;
}

.form-control::-webkit-input-placeholder,
.form-group .form-control::-webkit-input-placeholder {
    color: #AAAAAA;
    font-weight: 400;
}

.form-control[readonly],
.form-control[disabled],
fieldset[disabled] .form-control,
.form-group .form-control[readonly],
.form-group .form-control[disabled],
fieldset[disabled] .form-group .form-control {
    background-color: transparent;
}

.form-control[disabled],
fieldset[disabled] .form-control,
.form-group .form-control[disabled],
fieldset[disabled] .form-group .form-control {
    background-image: none;
    border-bottom: 1px dotted #D2D2D2;
}

.form-group {
    position: relative;
}

.form-group.label-static label.control-label,
.form-group.label-placeholder label.control-label,
.form-group.label-floating label.control-label {
    position: absolute;
    pointer-events: none;
    transition: 0.3s ease all;
}

.form-group.label-floating label.control-label {
    will-change: left, top, contents;
}

.form-group.label-placeholder:not(.is-empty) label.control-label {
    display: none;
}

.form-group .help-block {
    position: absolute;
    display: none;
}

.form-group.is-focused .form-control {
    outline: none;
    background-image: linear-gradient(#D2D2D2, #D2D2D2), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 100% 2px, 100% 1px;
    box-shadow: none;
    transition-duration: 0.3s;
}

.form-group.is-focused .form-control .material-input:after {
    background-color: #25329e;
}

.form-group.is-focused.form-info .form-control {
    background-image: linear-gradient(#00bcd4, #00bcd4), linear-gradient(#D2D2D2, #D2D2D2);
}

.form-group.is-focused.form-success .form-control {
    background-image: linear-gradient(#4caf50, #4caf50), linear-gradient(#D2D2D2, #D2D2D2);
}

.form-group.is-focused.form-warning .form-control {
    background-image: linear-gradient(#ff9800, #ff9800), linear-gradient(#D2D2D2, #D2D2D2);
}

.form-group.is-focused.form-danger .form-control {
    background-image: linear-gradient(#f44336, #f44336), linear-gradient(#D2D2D2, #D2D2D2);
}

.form-group.is-focused.form-white .form-control {
    background-image: linear-gradient(#FFFFFF, #FFFFFF), linear-gradient(#D2D2D2, #D2D2D2);
}

.form-group.is-focused.label-placeholder label,
.form-group.is-focused.label-placeholder label.control-label {
    color: #AAAAAA;
}

.form-group.is-focused .help-block {
    display: block;
}

.form-group.has-warning .form-control {
    box-shadow: none;
}

.form-group.has-warning.is-focused .form-control {
    background-image: linear-gradient(#ff9800, #ff9800), linear-gradient(#D2D2D2, #D2D2D2);
}

.form-group.has-warning label.control-label,
.form-group.has-warning .help-block {
    color: #ff9800;
}

.form-group.has-error .form-control {
    box-shadow: none;
}

.form-group.has-error.is-focused .form-control {
    background-image: linear-gradient(#f44336, #f44336), linear-gradient(#D2D2D2, #D2D2D2);
}

.form-group.has-error label.control-label,
.form-group.has-error .help-block {
    color: #f44336;
}

.form-group.has-success .form-control {
    box-shadow: none;
}

.form-group.has-success.is-focused .form-control {
    background-image: linear-gradient(#4caf50, #4caf50), linear-gradient(#D2D2D2, #D2D2D2);
}

.form-group.has-success label.control-label,
.form-group.has-success .help-block {
    color: #4caf50;
}

.form-group.has-info .form-control {
    box-shadow: none;
}

.form-group.has-info.is-focused .form-control {
    background-image: linear-gradient(#00bcd4, #00bcd4), linear-gradient(#D2D2D2, #D2D2D2);
}

.form-group.has-info label.control-label,
.form-group.has-info .help-block {
    color: #00bcd4;
}

.form-group textarea {
    resize: none;
}

.form-group textarea~.form-control-highlight {
    margin-top: -11px;
}

.form-group select {
    appearance: none;
}

.form-group select~.material-input:after {
    display: none;
}

.form-control::-moz-placeholder {
    font-size: 14px;
    line-height: 1.42857;
    color: #AAAAAA;
    font-weight: 400;
}

.form-control:-ms-input-placeholder {
    font-size: 14px;
    line-height: 1.42857;
    color: #AAAAAA;
    font-weight: 400;
}

.form-control::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 1.42857;
    color: #AAAAAA;
    font-weight: 400;
}

.checkbox label,
.radio label,
label {
    font-size: 14px;
    line-height: 1.42857;
    color: #AAAAAA;
    font-weight: 400;
}

label.control-label {
    font-size: 11px;
    line-height: 1.07143;
    color: #AAAAAA;
    font-weight: 400;
    margin: 16px 0 0 0;
}

.help-block {
    margin-top: 0;
    font-size: 11px;
}

.form-group {
    padding-bottom: 10px;
    margin: 5px 0 0 0;
}

.form-group .form-control::-moz-placeholder {
    font-size: 14px;
    line-height: 1.42857;
    color: #AAAAAA;
    font-weight: 400;
}

.form-group .form-control:-ms-input-placeholder {
    font-size: 14px;
    line-height: 1.42857;
    color: #AAAAAA;
    font-weight: 400;
}

.form-group .form-control::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 1.42857;
    color: #AAAAAA;
    font-weight: 400;
}

.form-group .checkbox label,
.form-group .radio label,
.form-group label {
    font-size: 14px;
    line-height: 1.42857;
    color: #AAAAAA;
    font-weight: 400;
}

    .form-group label.control-label {
        font-size: 16px !important;
        line-height: 1.07143;
        color: #AAAAAA;
        font-weight: 400;
        margin: 16px 0 0 0;
    }

.form-group .help-block {
    margin-top: 0;
    font-size: 11px;
}

.form-group.label-floating label.control-label,
.form-group.label-placeholder label.control-label {
    top: -2px;
    font-size: 14px;
    line-height: 1.42857;
	padding-left: 10px;
}

.form-group.label-static label.control-label,
.form-group.label-floating.is-focused label.control-label,
.form-group.label-floating:not(.is-empty) label.control-label {
    top: -28px;
    left: 0;
    font-size: 11px;
    line-height: 1.07143;
}

.form-group.label-floating input.form-control:-webkit-autofill~label.control-label label.control-label {
    top: -28px;
    left: 0;
    font-size: 11px;
    line-height: 1.07143;
}

.form-group.form-group-sm {
    padding-bottom: 10px;
    margin: 21px 0 0 0;
}

.form-group.form-group-sm .form-control::-moz-placeholder {
    font-size: 11px;
    line-height: 1.5;
    color: #AAAAAA;
    font-weight: 400;
}

.form-group.form-group-sm .form-control:-ms-input-placeholder {
    font-size: 11px;
    line-height: 1.5;
    color: #AAAAAA;
    font-weight: 400;
}

.form-group.form-group-sm .form-control::-webkit-input-placeholder {
    font-size: 11px;
    line-height: 1.5;
    color: #AAAAAA;
    font-weight: 400;
}

.form-group.form-group-sm .checkbox label,
.form-group.form-group-sm .radio label,
.form-group.form-group-sm label {
    font-size: 11px;
    line-height: 1.5;
    color: #AAAAAA;
    font-weight: 400;
}

.form-group.form-group-sm label.control-label {
    font-size: 9px;
    line-height: 1.125;
    color: #AAAAAA;
    font-weight: 400;
    margin: 16px 0 0 0;
}

.form-group.form-group-sm .help-block {
    margin-top: 0;
    font-size: 9px;
}

.form-group.form-group-sm.label-floating label.control-label,
.form-group.form-group-sm.label-placeholder label.control-label {
    top: -11px;
    font-size: 11px;
    line-height: 1.5;
}

.form-group.form-group-sm.label-static label.control-label,
.form-group.form-group-sm.label-floating.is-focused label.control-label,
.form-group.form-group-sm.label-floating:not(.is-empty) label.control-label {
    top: -25px;
    left: 0;
    font-size: 9px;
    line-height: 1.125;
}

.form-group.form-group-sm.label-floating input.form-control:-webkit-autofill~label.control-label label.control-label {
    top: -25px;
    left: 0;
    font-size: 9px;
    line-height: 1.125;
}

.form-group.form-group-lg {
    padding-bottom: 10px;
    margin: 30px 0 0 0;
}

.form-group.form-group-lg .form-control::-moz-placeholder {
    font-size: 18px;
    line-height: 1.33333;
    color: #AAAAAA;
    font-weight: 400;
}

.form-group.form-group-lg .form-control:-ms-input-placeholder {
    font-size: 18px;
    line-height: 1.33333;
    color: #AAAAAA;
    font-weight: 400;
}

.form-group.form-group-lg .form-control::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 1.33333;
    color: #AAAAAA;
    font-weight: 400;
}

.form-group.form-group-lg .checkbox label,
.form-group.form-group-lg .radio label,
.form-group.form-group-lg label {
    font-size: 18px;
    line-height: 1.33333;
    color: #AAAAAA;
    font-weight: 400;
}

.form-group.form-group-lg label.control-label {
    font-size: 14px;
    line-height: 1;
    color: #AAAAAA;
    font-weight: 400;
    margin: 16px 0 0 0;
}

.form-group.form-group-lg .help-block {
    margin-top: 0;
    font-size: 14px;
}

.form-group.form-group-lg.label-floating label.control-label,
.form-group.form-group-lg.label-placeholder label.control-label {
    top: -5px;
    font-size: 18px;
    line-height: 1.33333;
}

.form-group.form-group-lg.label-static label.control-label,
.form-group.form-group-lg.label-floating.is-focused label.control-label,
.form-group.form-group-lg.label-floating:not(.is-empty) label.control-label {
    top: -32px;
    left: 0;
    font-size: 14px;
    line-height: 1;
}

.form-group.form-group-lg.label-floating input.form-control:-webkit-autofill~label.control-label label.control-label {
    top: -32px;
    left: 0;
    font-size: 14px;
    line-height: 1;
}

/*select.form-control {
    border: 0;
    box-shadow: none;
    border-radius: 0;
}*/

.form-group.is-focused select.form-control {
    box-shadow: none;
    border-color: #D2D2D2;
}

select.form-control[multiple],
.form-group.is-focused select.form-control[multiple] {
    height: 85px;
}

.input-group-btn .btn {
    margin: 0 0 7px 0;
}

.form-group.form-group-sm .input-group-btn .btn {
    margin: 0 0 3px 0;
}

.form-group.form-group-lg .input-group-btn .btn {
    margin: 0 0 9px 0;
}

.input-group .input-group-btn {
    padding: 0 12px;
}

.input-group .input-group-addon {
    border: 0;
    background: transparent;
    padding: 6px 15px 0px;
}

.form-group input[type=file] {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.form-control-feedback {
    opacity: 0;
}

.has-success .form-control-feedback {
    color: #4caf50;
    opacity: 1;
}

.has-error .form-control-feedback {
    color: #f44336;
    opacity: 1;
}

.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
    padding-top: 0;
}

.form-horizontal .radio {
    margin-bottom: 10px;
}

.form-horizontal label {
    text-align: right;
}

.form-horizontal label.control-label {
    margin: 0;
}

.form-newsletter .input-group,
.form-newsletter .form-group {
    float: left;
    width: 78%;
    margin-right: 2%;
    margin-top: 9px;
}

/*Modal styling*/

.modal-backdrop {
  background-color: #333;
}

.modal-content {
  border: 1px solid rgba(0, 0, 0, 0.125);
  background: #326395 !important;
  padding: 5px;
}
.modal-header {
    background: #326395 !important;
    padding: 15px 15px 10px !important;
    color: #FFF !important;
    text-transform: capitalize;
    font-weight: 900 !important;
    border-bottom: none !important;
    font-size: 14px;
}
.popup-modal-body {
    background: #fff !important;
    padding: 5px 10px;
    font-weight: 400;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.modal-footer, #confirm-box .modal-footer {
    padding: 10px 20px 10px;
    background: #fff !important;
    margin-top: 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.modal-header img {
    width: 50px;
    margin-top: -12px;
    margin-right: 5px;
    margin-bottom: -5px;
}

.table>thead>tr>th {
    border-bottom-width: 1px;
    font-size: 1em;
    font-weight: 300;
}

.table .radio,
.table .checkbox {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    padding: 0;
    width: 15px;
}

.table .radio .icons,
.table .checkbox .icons {
    position: relative;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    /*padding: 12px 8px;*/
    vertical-align: middle;
}

.table>thead>tr>th {
    padding-bottom: 4px;
	font-weight: bold;
}

.table .td-actions {
    display: flex;
}

.table .td-actions .btn {
    margin: 0px;
    padding: 5px;
}

.table>tbody>tr {
    position: relative;
}

.checkbox label {
    cursor: pointer;
    padding-left: 0;
    color: rgba(0, 0, 0, 0.26);
}

.form-group.is-focused .checkbox label {
    color: rgba(0, 0, 0, 0.26);
}

.form-group.is-focused .checkbox label:hover,
.form-group.is-focused .checkbox label:focus {
    color: rgba(0, 0, 0, .54);
}

fieldset[disabled] .form-group.is-focused .checkbox label {
    color: rgba(0, 0, 0, 0.26);
}

.checkbox input[type=checkbox] {
    opacity: 0;
    position: absolute;
    margin: 0;
    z-index: -1;
    width: 0;
    height: 0;
    overflow: hidden;
    left: 0;
    pointer-events: none;
}

.checkbox .checkbox-material {
    vertical-align: middle;
    position: relative;
    top: 3px;
    padding-right: 5px;
}

.checkbox .checkbox-material:before {
    display: block;
    position: absolute;
    left: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.84);
    height: 20px;
    width: 20px;
    border-radius: 100%;
    z-index: 1;
    opacity: 0;
    margin: 0;
    -webkit-transform: scale3d(2.3, 2.3, 1);
    -moz-transform: scale3d(2.3, 2.3, 1);
    -o-transform: scale3d(2.3, 2.3, 1);
    -ms-transform: scale3d(2.3, 2.3, 1);
    transform: scale3d(2.3, 2.3, 1);
}

.checkbox .checkbox-material .check {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, .54);
    overflow: hidden;
    z-index: 1;
    border-radius: 3px;
}

.checkbox .checkbox-material .check:before {
    position: absolute;
    content: "";
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
    margin-top: -3px;
    margin-left: 7px;
    width: 0;
    height: 0;
    background: red;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
    -webkit-animation: checkbox-off 0.3s forwards;
    -moz-animation: checkbox-off 0.3s forwards;
    -o-animation: checkbox-off 0.3s forwards;
    -ms-animation: checkbox-off 0.3s forwards;
    animation: checkbox-off 0.3s forwards;
}

.checkbox input[type=checkbox]:focus+.checkbox-material .check:after {
    opacity: 0.2;
}

.checkbox input[type=checkbox]:checked+.checkbox-material .check {
    background: #25329e;
}

.checkbox input[type=checkbox]:checked+.checkbox-material .check:before {
    color: #FFFFFF;
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    -webkit-animation: checkbox-on 0.3s forwards;
    -moz-animation: checkbox-on 0.3s forwards;
    -o-animation: checkbox-on 0.3s forwards;
    -ms-animation: checkbox-on 0.3s forwards;
    animation: checkbox-on 0.3s forwards;
}

.checkbox input[type=checkbox]:checked+.checkbox-material:before {
    -webkit-animation: rippleOn 500ms;
    -moz-animation: rippleOn 500ms;
    -o-animation: rippleOn 500ms;
    -ms-animation: rippleOn 500ms;
    animation: rippleOn 500ms;
}

.checkbox input[type=checkbox]:checked+.checkbox-material .check:after {
    -webkit-animation: rippleOn 500ms forwards;
    -moz-animation: rippleOn 500ms forwards;
    -o-animation: rippleOn 500ms forwards;
    -ms-animation: rippleOn 500ms forwards;
    animation: rippleOn 500ms forwards;
}

.checkbox input[type=checkbox]:not(:checked)+.checkbox-material:before {
    -webkit-animation: rippleOff 500ms;
    -moz-animation: rippleOff 500ms;
    -o-animation: rippleOff 500ms;
    -ms-animation: rippleOff 500ms;
    animation: rippleOff 500ms;
}

.checkbox input[type=checkbox]:not(:checked)+.checkbox-material .check:after {
    -webkit-animation: rippleOff 500ms;
    -moz-animation: rippleOff 500ms;
    -o-animation: rippleOff 500ms;
    -ms-animation: rippleOff 500ms;
    animation: rippleOff 500ms;
}

fieldset[disabled] .checkbox,
fieldset[disabled] .checkbox input[type=checkbox],
.checkbox input[type=checkbox][disabled]~.checkbox-material .check,
.checkbox input[type=checkbox][disabled]+.circle {
    opacity: 0.5;
}

.checkbox input[type=checkbox][disabled]~.checkbox-material .check {
    border-color: #000000;
    opacity: .26;
}

.checkbox input[type=checkbox][disabled]+.checkbox-material .check:after {
    background-color: rgba(0, 0, 0, 0.87);
    transform: rotate(-45deg);
}


.form-group.is-focused .radio label {
    color: rgba(0, 0, 0, 0.26);
}

.form-group.is-focused .radio label:hover,
.form-group.is-focused .radio label:focus {
    color: rgba(0, 0, 0, .54);
}

fieldset[disabled] .form-group.is-focused .radio label {
    color: rgba(0, 0, 0, 0.26);
}

.navbar .alert {
    border-radius: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 85px;
    width: 100%;
    z-index: 3;
    transition: all 0.3s;
}

footer {
    padding: 15px 0;
}

footer ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

footer ul li {
    display: inline-block;
}

footer ul li a {
    color: inherit;
    padding: 15px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    text-decoration: none;
    position: relative;
    display: block;
}

footer ul li a:hover {
    text-decoration: none;
}

footer .copyright {
    padding: 15px 0;
    margin: 0;
}

footer .copyright .material-icons {
    font-size: 18px;
    position: relative;
    top: 3px;
}

footer .btn {
    margin-top: 0;
    margin-bottom: 0;
}

.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.87);
    border: 1px solid rgba(54, 64, 74, 0.1);
	background: rgb(255, 255, 255);
	margin-top: 115px;
	
}

.card .card-height-indicator {
    margin-top: 100%;
}

.card.row-space .header {
    padding: 15px 20px 0;
}

.card .title {
    margin-top: 0;
    margin-bottom: 5px;
}

.card .card-image {
    height: 60%;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
}

.card .card-image img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    pointer-events: none;
}

.card .card-image .card-title {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    font-size: 1.3em;
    text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
}

.card .category:not([class*="text-"]) {
    color: #999999;
}

    .card .card-content {
        padding: 35px 40px;
    }

.card .card-content .category {
    margin-bottom: 0;
}

.card .card-header {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: -20px 15px 0;
    border-radius: 3px;
    padding: 15px;
    background-color: #999999;
}

.card .card-header .title {
    color: #FFFFFF !important;
}

.card .card-header .category {
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.62);
}

.card .card-header.card-chart {
    padding: 30px;
    min-height: 90px;
}

.card .card-header.card-chart+.content h4 {
    margin-top: 0;
}

.card .card-header .ct-label {
    color: rgba(255, 255, 255, 0.7);
}

.card .card-header .ct-grid {
    stroke: rgba(255, 255, 255, 0.2);
}

.card .card-header .ct-series-a .ct-point,
.card .card-header .ct-series-a .ct-line,
.card .card-header .ct-series-a .ct-bar,
.card .card-header .ct-series-a .ct-slice-donut {
    stroke: rgba(255, 255, 255, 0.8);
}

.card .card-header .ct-series-a .ct-slice-pie,
.card .card-header .ct-series-a .ct-area {
    fill: rgba(255, 255, 255, 0.4);
}

.card .chart-title {
    position: absolute;
    top: 25px;
    width: 100%;
    text-align: center;
}

.card .chart-title h3 {
    margin: 0;
    color: #FFFFFF;
}

.card .chart-title h6 {
    margin: 0;
    color: rgba(255, 255, 255, 0.4);
}

.card .card-footer {
    margin: 0 20px 10px;
    padding-top: 10px;
    border-top: 1px solid #eeeeee;
}

.card .card-footer .content {
    display: block;
}

.card .card-footer div {
    display: inline-block;
}

.card .card-footer .author {
    color: #999999;
}

.card .card-footer .stats {
    line-height: 22px;
    color: #999999;
    font-size: 12px;
}

.card .card-footer .stats .material-icons {
    position: relative;
    top: 4px;
    font-size: 16px;
}

.card .card-footer h6 {
    color: #999999;
}

.card img {
    width: 100%;
    height: auto;
}

.card .category .material-icons {
    position: relative;
    top: 6px;
    line-height: 0;
}

.card .category-social .fa {
    font-size: 24px;
    position: relative;
    margin-top: -4px;
    top: 2px;
    margin-right: 5px;
}

.card .author .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}

.card .author a {
    color: #3C4858;
    text-decoration: none;
}

.card .author a .ripple-container {
    display: none;
}

.card .table {
    margin-bottom: 0;
}

.card .table tr:first-child td {
    border-top: none;
}

.card [data-background-color="purple"] {
    background: linear-gradient(60deg, #337ab7, #95abff);
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}

.card [data-background-color="blue"] {
    background: linear-gradient(60deg, #26c6da, #00acc1);
    box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
}

.card [data-background-color="green"] {
    background: linear-gradient(60deg, #213E9A, #5c80b8);
    box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}

.card [data-background-color="orange"] {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}

.card [data-background-color="red"] {
    background: linear-gradient(60deg, #ef5350, #e53935);
    box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
}

.card [data-background-color] {
    color: #FFFFFF;
}

.card [data-background-color] a {
    color: #FFFFFF;
}

.card-stats .title {
    margin: 0;
}

.card-stats .card-header {
    float: left;
    text-align: center;
}

.card-stats .card-header i {
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px;
}

.card-stats .card-content {
    text-align: right;
    padding-top: 10px;
}

.card-nav-tabs .header-raised {
    margin-top: -30px;
}

.card-nav-tabs .nav-tabs {
    background: transparent;
    padding: 0;
}

.card-nav-tabs .nav-tabs-title {
    float: left;
    padding: 10px 10px 10px 0;
    line-height: 24px;
}

.card-plain {
    background: transparent;
    box-shadow: none;
}

.card-plain .card-header {
    margin-left: 0;
    margin-right: 0;
}

.card-plain .content {
    padding-left: 5px;
    padding-right: 5px;
}

.card-plain .card-image {
    margin: 0;
    border-radius: 3px;
}

.card-plain .card-image img {
    border-radius: 3px;
}

.iframe-container {
    margin: 0 -20px 0;
}

.iframe-container iframe {
    width: 100%;
    height: 500px;
    border: 0;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card-profile,
.card-testimonial {
    margin-top: 30px;
    text-align: center;
}

.card-profile .btn-just-icon.btn-raised,
.card-testimonial .btn-just-icon.btn-raised {
    margin-left: 6px;
    margin-right: 6px;
}

.card-profile .card-avatar,
.card-testimonial .card-avatar {
    max-width: 130px;
    max-height: 130px;
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card-profile .card-avatar+.content,
.card-testimonial .card-avatar+.content {
    margin-top: 15px;
}

.card-profile.card-plain .card-avatar,
.card-testimonial.card-plain .card-avatar {
    margin-top: 0;
}

.nav-tabs {
    background: #25329e;
    border: 0;
    border-radius: 3px;
    padding: 0 15px;
}



@media (max-width: 480px),
(max-width: 767px) {
    .form-group .form-control {
        width: 83%;
    }
    .navbar-form .form-group {
        margin-bottom: 0;
    }
}

@media (min-width: 992px) {
    .table-full-width {
        margin-left: -20px;
        margin-right: -20px;
    }
    .table-responsive {
        overflow: visible;
    }
}