@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOut", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <div class="col-md-2"><a href="#"><i class="fa fa-power-off logout"></i> <br />Logout</a></div>
    }
}
else
{

}
